.todo-list {
  margin-top: 20px;
}

.todo-list ul {
  list-style: none;
  padding: 0;
}
.login-box {
  background: #fff;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
  width: 100%;
  max-width: 380px;
}